Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

chore: remove cargo from dependabot
  .github/dependabot.yml
Due: bunx prettier --write

chore: updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

chore: format
  src-tauri/src/commands/app.rs
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/crud.rs
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/mod.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/connectors/website.rs
  src-tauri/src/db.rs
  src-tauri/src/startup.rs
Due: none

chore: remove cog scripts
  package.json
Due: bunx prettier --write

fix(rss): upgrade low-resolution feed thumbnails via og:image
  src-tauri/src/commands/scraper.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db.rs
  src-tauri/src/models.rs
Due: none

fix(http): enable gzip/brotli decompression on the HTTP client
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

chore: updates
  src-tauri/Cargo.lock
Due: none

refactor(db): deduplicate SQL projections and row mappers
  src-tauri/src/db.rs
Due: none

fix(search): correct inverted sort order in article search
  src-tauri/src/db.rs
Due: none

fix(bluesky): prevent UTF-8 panic when truncating post titles
  src-tauri/src/connectors/bluesky.rs
Due: none

fix(release): use unwind panics so article parser guard is effective
  src-tauri/Cargo.toml
Due: none

fix(startup): fall back to terminal logging when log file cannot be opened
  src-tauri/src/startup.rs
Due: none

fix(backup): retain MAX_BACKUPS files when rotating backups
  src-tauri/src/commands/backup.rs
Due: none

fix(thumbnails): cap image download size before buffering response
  src-tauri/src/commands/thumbnails.rs
Due: none

fix(db): expire date-less articles by insertion time
  src-tauri/src/db.rs
Due: none

fix(settings): preserve config file and warn when settings cannot be parsed
  src-tauri/src/settings.rs
Due: none

perf(connectors): share a single page fetch across feed discovery connectors
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/mod.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/connectors/website.rs
Due: none

perf(rss): borrow feed entries instead of cloning the whole feed
  src-tauri/src/connectors/rss.rs
Due: none

perf(runtime): move blocking maintenance, import, and scrape work off async workers
  src-tauri/src/commands/crud.rs
  src-tauri/src/connectors/website.rs
  src-tauri/src/lib.rs
Due: none

perf(db): add partial index for saved-article queries
  src-tauri/src/db.rs
Due: none

perf(db): make folder/feed/tag/OPML deletion atomic with transactions
  src-tauri/src/commands/crud.rs
  src-tauri/src/db.rs
Due: none

refactor(opml): extract shared OPML rendering used by export and backup
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/crud.rs
  src-tauri/src/lib.rs
  src-tauri/src/opml.rs
Due: none

refactor(scraper): delegate og:image fetching to shared HTML extractor
  src-tauri/src/commands/scraper.rs
Due: none

refactor(refresh): centralize feed refresh outcome recording
  src-tauri/src/commands/refresh.rs
  src-tauri/src/connectors/add.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/connectors/website.rs
  src-tauri/src/db.rs
Due: none

refactor(website): share page scraping between discovery and refresh
  src-tauri/src/connectors/website.rs
Due: none

refactor(bluesky): remove unused deserialization fields
  src-tauri/src/connectors/bluesky.rs
Due: none

refactor(startup): drop unused return values and parameter
  src-tauri/src/lib.rs
  src-tauri/src/startup.rs
Due: none

refactor(connectors): inline registry construction
  src-tauri/src/connectors/mod.rs
Due: none

refactor(commands): move article content extraction out of refresh module
  src-tauri/src/commands/content.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/refresh.rs
Due: none

refactor(db): split monolithic db module into schema/feeds/articles/tags
  src-tauri/src/db.rs
  src-tauri/src/db/articles.rs
  src-tauri/src/db/feeds.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/db/tags.rs
Due: none

refactor(connectors): return named FetchedFeed from discovery API
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/mod.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/connectors/website.rs
Due: none

fix(startup): avoid nesting settings lock inside db lock
  src-tauri/src/lib.rs
Due: none

fix(shortcuts): remove recorder keydown listener with matching capture flag
  src/lib/components/ShortcutsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(articles): restore unread count when marking read fails
  src/lib/articleActions.svelte.ts
  src/lib/keyboardNav.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix(articles): sync unread badge on context-menu read toggle
  src/lib/components/article/ArticleContextMenu.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(manage-dialog): catch async clipboard read rejection
  src/lib/components/ManageDialog.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(articles): handle reload failure instead of unhandled rejection
  src/lib/articleActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix(nav): guard drag-and-drop payload parsing
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/UncategorizedFeeds.svelte
  src/lib/utils/dragGhost.ts
Due: bunx prettier --write, bunx eslint --fix

fix(state): make store the single owner of expandedFolders
  src/lib/store.svelte.ts
  src/lib/useExpandedFolders.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix(shortcuts): restore valid {\@const} syntax mangled by biome --write
  biome.json
  src/lib/components/ShortcutsModal.svelte
Due: bunx prettier --write, bunx eslint --fix
