Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

words
  AGENTS.md
Due: bunx prettier --write

thumbnails
  src-tauri/Cargo.toml
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/settings.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

v0.13.0
  bun.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

thumbnails fixed
  bun.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/db.rs
  src/lib/components/ArticleListPane.svelte
Due: bunx prettier --write, bunx eslint --fix

close article context menu on click away
  src/lib/components/ArticleListPane.svelte
Due: bunx prettier --write, bunx eslint --fix

content formatting more robust
  src-tauri/src/commands/refresh.rs
  src-tauri/src/db.rs
Due: none

exclude article filter
  src/lib/articleActions.svelte.ts
  src/lib/components/ManageDialog.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

refine 'View on Startup'
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refined startup view
  src/lib/components/ArticleListPane.svelte
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

linter + formatter
  src-tauri/src/commands/refresh.rs
  src-tauri/src/db.rs
Due: none

settings > thumbnail size
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/settings.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

wrap + centre article title
  src/lib/components/ArticleListPane.svelte
Due: bunx prettier --write, bunx eslint --fix

major performance overhaul
  src-tauri/Cargo.toml
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/feedActions.svelte.ts
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

tighten ui
  src-tauri/src/settings.rs
Due: none

thumbnails settings ui refined
  src/lib/components/ArticleListPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

persistent data lives in .config
  src-tauri/src/commands/app.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.14.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

updates for github
  .github/workflows/release.yml
Due: bunx prettier --write

update articles when feed selected
  src/lib/articleActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

do not add dupes
  src-tauri/src/commands/feeds.rs
  src-tauri/src/db.rs
Due: none

thumbnail retrieval refined
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
  src-tauri/src/commands/thumbnails.rs
Due: none

docs reflect code
  AGENTS.md
  README.md
Due: bunx prettier --write

thumbnails better
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/refresh.rs
Due: none

v0.15.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix github node nag
  .github/workflows/release.yml
Due: bunx prettier --write

Remove mold linker from committed cargo config (local-only optimization)
  src-tauri/.cargo/config.toml
Due: none

package chore
  bun.lock
  package.json
Due: bunx prettier --write

tidy
  .editorconfig
Due: none

refined
  biome.json
Due: bunx prettier --write

format
  scripts/version.js
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
  src/app.css
  src/lib/actions/tooltip.svelte.ts
  src/lib/articleActions.svelte.ts
  src/lib/feedActions.svelte.ts
  src/lib/feedRefresh.svelte.ts
  src/lib/keyboardNav.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/lib/types.ts
  src/lib/utils/shortcuts.ts
  svelte.config.js
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

optimised commit+
  lefthook.yml
Due: bunx prettier --write

feat: add conventional-commit commit-msg hook to lefthook
  lefthook.yml
Due: bunx prettier --write

update to latest
  .gitignore
Due: none

chore updates
  .github/workflows/release.yml
  biome.json
  bun.lock
  package.json
  src-tauri/Cargo.toml
Due: bunx prettier --write

tidy
  src-tauri/Cargo.toml
Due: none

tidy
  package.json
Due: bunx prettier --write

version updater
  src-tauri/Cargo.toml
Due: none

biome check ++
  scripts/version.js
  src-tauri/src/commands/crud.rs
  src-tauri/src/commands/feeds.rs
  src-tauri/src/db.rs
  src-tauri/src/models.rs
  src/lib/components/AboutModal.svelte
  src/lib/components/ArticleListPane.svelte
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/ManageDialog.svelte
  src/lib/components/NavPane.svelte
  src/lib/components/NewFolderDialog.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/TagManager.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/feedActions.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/lib/types.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

Path conditions:
  bunx prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml}
  bunx eslint --fix: any of: *.{js,ts,svelte}
