Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

delay / async vacuum, etc.
  src-tauri/src/lib.rs
  src-tauri/src/startup.rs
Due: none

one map per refresh
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

Bluesky fetch smarter
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/db.rs
Due: none

v0.16.0
  bun.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

clippy warnings
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/mod.rs
  src-tauri/src/connectors/rss.rs
Due: none

github build modernised
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/deny.toml
  src-tauri/rust-toolchain.toml
Due: bunx prettier --write

lint warnings
  src/lib/components/article/ArticleContent.svelte
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

github build modernised
  .github/workflows/ci.yml
  src-tauri/Cargo.toml
  tsconfig.json
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

build stack+
  bun.lock
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

do not ignore cargo.lock
  .gitignore
  src-tauri/Cargo.lock
Due: none

correct format for github
  src-tauri/Cargo.toml
  src-tauri/deny.toml
  src-tauri/rust-toolchain.toml
Due: none

fix toolchain
  src-tauri/rust-toolchain.toml
Due: none

project description updated++
  README.md
  assets/screen-1.webp
  assets/screen1.webp
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

correct rust cache
  .github/workflows/release.yml
Due: bunx prettier --write

v0.16.1
  README.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

v0.16.1
  src-tauri/Cargo.lock
Due: none

versioning refined
  .github/workflows/release.yml
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

display domain on article content
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

chore update
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

expand start folder on startup
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

auto backup to opml
  biome.json
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
Due: bunx prettier --write

v0.17.0
  README.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

versioning refined
  scripts/version.js
  src-tauri/Cargo.lock
Due: bunx prettier --write, bunx eslint --fix

remove unused css
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

pin typescript to 6.0.3
  bun.lock
  package.json
Due: bunx prettier --write

override typescript
  bun.lock
  package.json
Due: bunx prettier --write

unused variable
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

versioning refined
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

v0.17.1
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

retrieve lazy images
  src/lib/components/article/ArticleContent.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.18.0
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

expand focused folder on start
  src/lib/navigation.svelte.ts
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

run in parallel
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

chore update
  bun.lock
  src-tauri/Cargo.lock
Due: none

smarter content retrieval
  src-tauri/src/commands/refresh.rs
Due: none

linter happy
  src-tauri/src/commands/refresh.rs
Due: none

v0.18.1
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

report failure
  src-tauri/src/startup.rs
Due: none

always scroll to top
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix
