Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

fix(settings): clone settings before persisting to avoid aliasing
  src/lib/ui.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix(shortcuts): prevent stacked keydown listeners and auto-refresh timers
  src/lib/keyboardNav.svelte.ts
  src/lib/ui.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

perf(layout): throttle pane resize to animation frames
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

perf(article-list): compute thumbnail cache key once per card
  src/lib/components/article/ArticleCard.svelte
Due: bunx prettier --write, bunx eslint --fix

perf(article): drop keyed remount for reactive tag icons
  src/lib/components/article/ArticleActions.svelte
  src/lib/components/article/ArticleCard.svelte
Due: bunx prettier --write, bunx eslint --fix

perf(settings): compare settings without JSON serialization
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

refactor(feeds): centralize feed lookups in shared helpers
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavContextMenu.svelte
  src/lib/feedRefresh.svelte.ts
  src/lib/freshness.svelte.ts
  src/lib/navigation.svelte.ts
  src/lib/store.svelte.ts
  src/lib/utils/feeds.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(nav): centralize folder expand/collapse operations
  src/lib/components/NavPane.svelte
  src/lib/keyboardNav.svelte.ts
  src/lib/navigation.svelte.ts
  src/lib/useExpandedFolders.svelte.ts
  src/lib/utils/expandedFolders.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(feedRefresh): reuse runWithConcurrency in refreshAllFeeds
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(state): centralize Set copy-mutate-reassign in withAdded/withRemoved helpers
  src/lib/components/TagManager.svelte
  src/lib/feedRefresh.svelte.ts
  src/lib/utils/expandedFolders.ts
  src/lib/utils/sets.test.ts
  src/lib/utils/sets.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(persistence): centralize typed localStorage access in persistence module
  src/lib/freshness.svelte.ts
  src/lib/navigation.svelte.ts
  src/lib/store.svelte.ts
  src/lib/ui.svelte.ts
  src/lib/useExpandedFolders.svelte.ts
  src/lib/utils/persistence.test.ts
  src/lib/utils/persistence.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(types): compose shared store interfaces to remove duplication
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(shortcuts): drop unused ShortcutDefinition.id field
  src/lib/keyboardNav.svelte.ts
  src/lib/utils/shortcuts.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(favicon): simplify domain cache to plain map
  src/lib/utils/favicon.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(tags): drop unused createTagOps parameter
  src/lib/store.svelte.ts
  src/lib/tags.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(layout): drop redundant two-way binding on AboutModal
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

refactor(articles): drive empty-state text from a lookup
  src/lib/components/article/ArticleList.svelte
Due: bunx prettier --write, bunx eslint --fix

refactor(store): expose narrow store slices via typed accessors
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(ui): move modal and layout state into createUI module
  src/lib/store.svelte.ts
  src/lib/ui.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(utils): extract pure article-content and feed-selection helpers with tests
  src/lib/components/ReadingPane.svelte
  src/lib/feedRefresh.svelte.ts
  src/lib/utils/articleContent.test.ts
  src/lib/utils/articleContent.ts
  src/lib/utils/feeds.test.ts
  src/lib/utils/feeds.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(tags): use app confirm dialog for tag deletion
  src/lib/components/TagManager.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(reading-pane): prevent duplicate hero when body image URL is entity-encoded
  src/lib/utils/articleContent.test.ts
  src/lib/utils/articleContent.ts
Due: bunx prettier --write, bunx eslint --fix

fix(reading-pane): remove focus outline from article body on keypress
  src/lib/components/article/ArticleContent.svelte
Due: bunx prettier --write, bunx eslint --fix

fix: replace spoofed Chrome user agent with FeedMee reader UA
  src-tauri/src/startup.rs
Due: none

chore(version): v0.22.13
  CHANGELOG.md
  PKGBUILD
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

refactor(startup): replace simplelog with flexi_logger for daily log rotation
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/startup.rs
Due: none

chore: updates
  bun.lock
  package.json
Due: bunx prettier --write

refactor(startup): replace simplelog with flexi_logger for daily log rotation
  src-tauri/src/startup.rs
Due: none

fix(connectors): probe conventional feed paths when HTML discovery fails
  src-tauri/src/connectors/rss.rs
Due: none

fix(vite): prebundle lucide-svelte to stop dev virtual CSS race collapsing layout
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

chore: updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

fix(db): keep saved articles when deleting a feed or folder
  src-tauri/src/db.rs
  src-tauri/src/db/articles.rs
  src-tauri/src/db/feeds.rs
  src-tauri/src/db/schema.rs
Due: none

fix(db): treat zero article retention as "Never"
  src-tauri/src/db.rs
  src-tauri/src/db/schema.rs
Due: none

chore(logging): reduce log noise
  src-tauri/src/connectors/rss.rs
  src-tauri/src/lib.rs
  src-tauri/src/startup.rs
Due: none

feat(storage): resolve app directories via Tauri PathResolver
  src-tauri/capabilities/default.json
  src-tauri/src/commands/app.rs
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/lib.rs
  src-tauri/src/paths.rs
  src-tauri/src/settings.rs
  src-tauri/src/startup.rs
Due: bunx prettier --write

feat(settings): add Open Latest Log action
  src-tauri/src/commands/app.rs
  src-tauri/src/lib.rs
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(nav): collapse stale expanded folder on startup
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor(db): collapse schema migrations into a single baseline
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db/articles.rs
  src-tauri/src/db/schema.rs
Due: none

feat(settings): add storage management controls
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/storage.rs
  src-tauri/src/lib.rs
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

chore: updates
  src-tauri/Cargo.lock
Due: none

Path conditions:
  bunx prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml}
  bunx eslint --fix: any of: *.{js,ts,svelte}
