Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

chore(version): v0.22.5
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): isolate arch container build and install clang
  .github/workflows/release.yml
Due: bunx prettier --write

fix(ci): isolate arch container build and install clang
  .pkg/PKGBUILD
Due: none

chore(version): v0.22.6
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

chore: updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

feat: add folder selector to edit feed dialog
  src/lib/components/EditFeedDialog.svelte
Due: bunx prettier --write, bunx eslint --fix

fix(ci): package prebuilt binary for arch instead of rebuilding in container
  .github/workflows/release.yml
  .pkg/PKGBUILD
Due: bunx prettier --write

chore(version): v0.22.7
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): install runtime deps in arch container for makepkg check
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.8
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): upload arch package from hidden .pkg dir
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.9
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): attach appimage to release and drop raw binary
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.10
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

ci: publish all linux and windows bundles via tauri-action
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

chore(pkg): sync pkgver via sync_version.sh instead of node
  .github/workflows/release.yml
  .pkg/PKGBUILD
  scripts/sync_version.sh
Due: bunx prettier --write

ci(release): fail if no Arch package produced
  .github/workflows/release.yml
Due: bunx prettier --write

chore: point biome schema at installed package
  biome.json
Due: bunx prettier --write

ci: harden workflows and add test infrastructure
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .pkg/PKGBUILD
  AGENTS.md
  PKGBUILD
  README.md
  biome.json
  bun.lock
  feedmee.desktop
  lefthook.yml
  package.json
  scripts/sync_version.sh
  src-tauri/tauri.conf.json
  src/lib/components/TagManager.svelte
  src/lib/components/article/ArticleCard.svelte
  src/lib/components/article/ArticleContent.svelte
  src/lib/utils/favicon.test.ts
  src/test/setup.ts
  vitest.config.ts
Due: bunx prettier --write, bunx eslint --fix

chore: keep lockfiles in clean script
  package.json
Due: bunx prettier --write

chore: recreate icons
  src-tauri/icons/32x32.png
  src-tauri/icons/android/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
Due: none

chore: tidy gitignore
  .gitignore
Due: none

chore(version): v0.22.11
  CHANGELOG.md
  PKGBUILD
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

chore: refine formatting rules
  .editorconfig
  biome.json
Due: bunx prettier --write

ci(release): generate changelog as GitHub release body
  .github/workflows/release.yml
Due: bunx prettier --write

chore(editorconfig): generalize indentation rules for multi-language use
  .editorconfig
Due: none

chore(cargo): drop deprecated package.authors field + format
  src-tauri/Cargo.toml
Due: none

chore: format toml
  .rustfmt.toml
  cog.toml
  src-tauri/deny.toml
Due: none

chore: format yml
  lefthook.yml
Due: bunx prettier --write

chore: format tpl
  changelog.tpl
Due: none

chore: prune irrelevant .gitignore entries and add missing project paths
  .gitignore
Due: none

chore: updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: bunx prettier --write

chore: track sync_version.sh as executable and fix spurious file modes
  scripts/sync_version.sh
Due: none

chore(release): run full checks in pre-bump hooks
  cog.toml
Due: none

ci: use bun ecosystem for dependabot
  .github/dependabot.yml
Due: bunx prettier --write

ci: drop bun ecosystem from dependabot
  .github/dependabot.yml
Due: bunx prettier --write

chore(version): v0.22.12
  CHANGELOG.md
  PKGBUILD
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write
