Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

chore: update
  bun.lock
  package.json
Due: bunx prettier --write

fix: rebind selected article to fresh data after list reload
  src/lib/articleActions.svelte.ts
  src/lib/feedRefresh.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/lib/ui.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

feat: disable feeds after repeated refresh failures
  src-tauri/src/commands/refresh.rs
  src-tauri/src/db.rs
  src-tauri/src/models.rs
  src/lib/components/nav/FeedItem.svelte
  src/lib/feedRefresh.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

fix: report HTTP status instead of misleading parse error for blocked feeds
  src-tauri/src/connectors/rss.rs
Due: none

chore: enable biome html formatter so format normalizes html/svelte indentation
  biome.json
Due: bunx prettier --write

chore: format all with biome
  src/app.html
  src/lib/components/AboutModal.svelte
  src/lib/components/ArticleListPane.svelte
  src/lib/components/ConfirmModal.svelte
  src/lib/components/ContextMenu.svelte
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/ManageDialog.svelte
  src/lib/components/Modal.svelte
  src/lib/components/NavPane.svelte
  src/lib/components/NewFolderDialog.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/StyleInjector.svelte
  src/lib/components/TagManager.svelte
  src/lib/components/TagPopover.svelte
  src/lib/components/ThemeManager.svelte
  src/lib/components/Tooltip.svelte
  src/lib/components/article/ArticleActions.svelte
  src/lib/components/article/ArticleCard.svelte
  src/lib/components/article/ArticleContent.svelte
  src/lib/components/article/ArticleContextMenu.svelte
  src/lib/components/article/ArticleList.svelte
  src/lib/components/article/ArticleSearch.svelte
  src/lib/components/article/ArticleToolbar.svelte
  src/lib/components/nav/FeedItem.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavContextMenu.svelte
  src/lib/components/nav/NavToolbar.svelte
  src/lib/components/nav/UncategorizedFeeds.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.21.0
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

feat: publish selected folder's feed list as soon as its refresh completes
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix: link linkless feed entries to their real article url instead of a feed fragment
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db.rs
Due: none

fix: filter content from footer, etc. to avoid useless pages
  src-tauri/src/commands/scraper.rs
Due: none

fix: select initial view before startup refresh so folder list publishes when its feeds finish
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix: refresh visible article list after deleting a feed
  src/lib/feedActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

feat: show article image in the reading pane content
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.22.0
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

docs: correct README smart views and search scope
  README.md
Due: bunx prettier --write

fix: prevent white flash on startup by showing window after first paint, remove FOUC script
  src-tauri/src/commands/app.rs
  src-tauri/src/lib.rs
  src/app.html
  src/lib/components/ThemeManager.svelte
  src/lib/store.svelte.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

chore: updates
  biome.json
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: bunx prettier --write

chore: replace commitlint with cocogitto for conventional commits
  .github/workflows/ci.yml
  AGENTS.md
  bun.lock
  cog.toml
  commitlint.config.js
  lefthook.yml
  package.json
Due: bunx prettier --write, bunx eslint --fix

chore: remove dependabot config to stop automatic update PRs
  .github/dependabot.yml
Due: bunx prettier --write

refactor: replace manual version.js with cocogitto version bumps
  AGENTS.md
  changelog.tpl
  cog.toml
  package.json
  scripts/sync_version.sh
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

chore: tidy packages
  package.json
Due: bunx prettier --write

chore(version): v0.17.0
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix: set rust toolchain in release workflow and add node types for CI
  .github/workflows/release.yml
  bun.lock
  cog.toml
  package.json
  tsconfig.json
Due: bunx prettier --write

chore(version): v0.17.1
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

chore: restore version to 0.22.0
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix: fetch Arch package source from GitHub in release build
  .pkg/PKGBUILD
Due: none

fix: qualify log macro in non-Linux window setup
  src-tauri/src/startup.rs
Due: none

fix: run svelte-kit sync before production builds
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix: generate svelte-kit types at workspace root for arch build
  .github/workflows/release.yml
Due: bunx prettier --write

fix: install clang for rust linker in arch build
  .github/workflows/release.yml
Due: bunx prettier --write

chore: unblock release without arch package
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.1
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): build arch package on host runner and attach to release
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.2
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): install nodejs in arch build container for pkgver
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.3
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): mount only .pkg dir in arch container to avoid tsconfig conflict
  .github/workflows/release.yml
Due: bunx prettier --write

chore(version): v0.22.4
  CHANGELOG.md
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

fix(ci): mount package.json in arch container for pkgver resolution
  .github/workflows/release.yml
Due: bunx prettier --write

Path conditions:
  bunx prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml}
  bunx eslint --fix: any of: *.{js,ts,svelte}
