Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

compile / lin warnings
  src/lib/components/nav/NavToolbar.svelte
  src/lib/components/nav/SpecialFeeds.svelte
  src/lib/store.svelte.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

screenie
  README.md
  assets/screen1.webp
Due: bunx prettier --write

screen link
  README.md
Due: bunx prettier --write

screen
  assets/screen1.webp
Due: none

Update README with download link
  README.md
Due: bunx prettier --write

package updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/lib/components/nav/NavToolbar.svelte
Due: bunx prettier --write, bunx eslint --fix

Background Refresh Blocks UI
  bun.lock
  src/lib/components/ArticleListPane.svelte
  src/lib/store.svelte.ts
  src/lib/store.ts
Due: bunx prettier --write, bunx eslint --fix

words
  .agents/AGENTS.md
  README.md
Due: bunx prettier --write

HTTP Client Not Pooled = Performance
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
Due: none

Search Query Breaks Navigation
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

"Mark All Read" Fails on Default View
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

Folder View Discards Read Articles
  src-tauri/src/db.rs
Due: none

Auto-Unsave of "Read Later" Articles
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

Unread Counts Desynchronize on Save
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

Inaccurate "New Articles" Count
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: none

Lazy Load Feed Images
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

Duplicate Shortcut Registration
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

ui refined
  src/lib/components/NavPane.svelte
  src/lib/components/TitleBar.svelte
  src/lib/components/nav/SpecialFeeds.svelte
Due: bunx prettier --write, bunx eslint --fix

'Auto Collapse Folders' option
  src-tauri/src/settings.rs
  src/lib/components/NavPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

drag drop fixed
  src/lib/components/NavPane.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/dndState.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

cursor key navigation
  src/lib/store.svelte.ts
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

lint warnings
  package.json
  src/lib/components/nav/SpecialFeeds.svelte
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

fix indent
  scripts/version.js
Due: bunx prettier --write, bunx eslint --fix

v0.4.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

increase articles max width
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

package updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

update badges immediately
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

words
  .agents/AGENTS.md
Due: bunx prettier --write

icons refined
  src/lib/components/nav/FolderGroup.svelte
Due: bunx prettier --write, bunx eslint --fix

cursor nav - folders expand
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

setting ui refined, but still not good.
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

settings ui refined
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

remove unsued css
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

'Mark Feed Read on Exit'
  src-tauri/src/commands.rs
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

clean code, fix mark as read from folder
  src-tauri/src/commands.rs
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

try catch errors
  src/lib/store.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor store in to bite sizes
  src/lib/articleActions.svelte.ts
  src/lib/feedActions.svelte.ts
  src/lib/feedRefresh.svelte.ts
  src/lib/keyboardNav.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

package updates
  bun.lock
  package.json
Due: bunx prettier --write

v0.5.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write
