Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

chore update
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: bunx prettier --write

scroll to top on entry
  src/lib/components/NavPane.svelte
Due: bunx prettier --write, bunx eslint --fix

DRY modal chrome
  src/lib/components/AboutModal.svelte
  src/lib/components/ConfirmModal.svelte
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/ManageDialog.svelte
  src/lib/components/Modal.svelte
  src/lib/components/NewFolderDialog.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/nav/NavContextMenu.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

DRY drag
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/UncategorizedFeeds.svelte
  src/lib/utils/dragGhost.ts
Due: bunx prettier --write, bunx eslint --fix

DRY CSS from svelte
  src/app.css
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/UncategorizedFeeds.svelte
Due: bunx prettier --write, bunx eslint --fix

DRY concurrency worker
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

DRY thumbnail cache key
  src/lib/components/article/ArticleCard.svelte
  src/lib/components/article/ArticleList.svelte
  src/lib/utils/thumbnail.ts
Due: bunx prettier --write, bunx eslint --fix

DRY keys
  src/lib/components/NavPane.svelte
  src/lib/freshness.svelte.ts
  src/lib/navigation.svelte.ts
  src/lib/store.svelte.ts
  src/lib/utils/persistence.ts
Due: bunx prettier --write, bunx eslint --fix

dead / dupe code
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

magic numbers
  src/lib/articleActions.svelte.ts
  src/lib/feedActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

SoC expanded folder
  src/lib/components/NavPane.svelte
  src/lib/useExpandedFolders.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

refactor: split Feed.url into source_type + display_url + source_id
  src-tauri/src/db.rs
  src-tauri/src/models.rs
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/nav/FeedItem.svelte
  src/lib/components/nav/NavContextMenu.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/lib/types.ts
  src/lib/ui.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

v0.19.0
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

tidy
  src-tauri/Cargo.toml
Due: none

start at top on entry
  src/lib/components/article/ArticleList.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.19.1
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

add .editorconfig
  .editorconfig
Due: none

remove conventional commit
  lefthook.yml
Due: bunx prettier --write

docs new AGENTS.md format
  AGENTS.md
Due: bunx prettier --write

chore updates
  biome.json
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

v0.19.2
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

docs: agents.md refined
  AGENTS.md
Due: bunx prettier --write

chore: updates
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: bunx prettier --write

build: modernize toolchain and enforce conventional commits
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  bun.lock
  commitlint.config.js
  lefthook.yml
  package.json
  src-tauri/rust-toolchain.toml
Due: bunx prettier --write, bunx eslint --fix

chore: format tidy
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

chore: update
  biome.json
Due: bunx prettier --write

fix: scroll article list to top when switching feeds/folders
  src/lib/components/article/ArticleList.svelte
Due: bunx prettier --write, bunx eslint --fix

perf: only load thumbnails for visible articles and cache them before scraping
  src-tauri/src/commands/scraper.rs
  src-tauri/src/commands/thumbnails.rs
  src-tauri/src/connectors/add.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db.rs
  src/lib/components/article/ArticleList.svelte
Due: bunx prettier --write, bunx eslint --fix

fix: guard concurrent feed refresh against duplicate fetches
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

fix: skip no-op article summary updates on feed refresh
  src-tauri/src/db.rs
Due: none

perf: reuse shared HTTP client for article content fetch
  src-tauri/src/commands/refresh.rs
Due: none

perf: cap concurrent article-page fetches with a shared semaphore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/scraper.rs
  src-tauri/src/connectors/add.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/lib.rs
Due: none

fix: propagate and roll back DB write errors in feed refresh
  src-tauri/src/connectors/add.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/rss.rs
  src-tauri/src/connectors/website.rs
  src-tauri/src/db.rs
Due: none

perf: index articles timestamp for latest/saved queries
  src-tauri/src/db.rs
Due: none

perf: index articles on feed_id and is_read for unread counts
  src-tauri/src/db.rs
Due: none

perf: reuse prepared statements for bulk article upserts
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db.rs
Due: none

fix: make article list pagination deterministic with an id tiebreaker
  src-tauri/src/db.rs
Due: none

fix: strip rotating access-token params from article URLs to prevent duplicates
  src-tauri/src/connectors/rss.rs
  src-tauri/src/db.rs
Due: none

v0.20.0
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write
