Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

refresh db after updte
  src-tauri/src/db.rs
Due: none

sort tweak
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: none

don't rely on default hasher
  src-tauri/src/commands.rs
Due: none

optimise folder call
  src/lib/components/nav/FolderGroup.svelte
Due: bunx prettier --write, bunx eslint --fix

optimise feed count
  src-tauri/src/db.rs
Due: none

only parse DOM on change
  src/lib/components/ReadingPane.svelte
Due: bunx prettier --write, bunx eslint --fix

debounce save
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

targeted single feed update
  src-tauri/src/commands.rs
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

smarter favicons + not googgle
  src/lib/components/nav/FolderGroup.svelte
Due: bunx prettier --write, bunx eslint --fix

fix dev build display - again!
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

add export to opml
  src/lib/components/ManageDialog.svelte
  src/lib/components/NavPane.svelte
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

add bluesky feeds
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/connectors/mod.rs
  src-tauri/src/lib.rs
  src/lib/components/ManageDialog.svelte
Due: bunx prettier --write, bunx eslint --fix

tag manager
  src-tauri/src/commands.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/TagManager.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/lib/types.ts
Due: bunx prettier --write, bunx eslint --fix

tagging refined
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/ReadingPane.svelte
  src/lib/components/TagManager.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

tag icon update
  src/lib/components/TagManager.svelte
Due: bunx prettier --write, bunx eslint --fix

v0.11.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

gitignore build artifacts
  .gitignore
Due: none

chore packages
  bun.lock
  package.json
  src-tauri/Cargo.toml
Due: bunx prettier --write

fix dev display again again
  src/routes/+page.svelte
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

allow for distinct feeds from same url
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: none

feed update performance
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: none

reset db migration
  src-tauri/src/db.rs
Due: none

refactor commands.rs
  src-tauri/src/commands.rs
  src-tauri/src/commands/app.rs
  src-tauri/src/commands/crud.rs
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/commands/scraper.rs
Due: none

query feeds on opml import
  src/lib/feedActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

chore packages
  bun.lock
  package.json
Due: bunx prettier --write

remember pane widths on restart
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

edit feed url as well
  src-tauri/src/commands/crud.rs
  src-tauri/src/db.rs
  src/lib/components/EditFeedDialog.svelte
  src/lib/components/NavPane.svelte
  src/lib/feedActions.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

format + linter housework
  biome.json
  bun.lock
  src-tauri/src/commands/app.rs
  src-tauri/src/commands/crud.rs
  src-tauri/src/commands/feeds.rs
  src-tauri/src/commands/refresh.rs
  src-tauri/src/connectors/bluesky.rs
  src-tauri/src/db.rs
  src/lib/components/NavPane.svelte
Due: bunx prettier --write, bunx eslint --fix

flash of white content with dark theme
  src-tauri/tauri.conf.json
  src/app.html
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
Due: bunx prettier --write, bunx eslint --fix

v0.12.0
  package.json
  src-tauri/Cargo.toml
Due: bunx prettier --write

build front and back
  package.json
Due: bunx prettier --write

build front + back again
  package.json
  src-tauri/tauri.conf.json
Due: bunx prettier --write

build fix - appimage to github, no deb
  .github/workflows/release.yml
  scripts/package.js
  src-tauri/tauri.conf.json
Due: bunx prettier --write, bunx eslint --fix

mold linker
  package.json
  src-tauri/.cargo/config.toml
Due: bunx prettier --write

optimise dev build
  src-tauri/.cargo/config.toml
Due: none

build housekeep
  package.json
  scripts/package.js
Due: bunx prettier --write, bunx eslint --fix

new build process
  README.md
Due: bunx prettier --write

housekeep
  package.json
Due: bunx prettier --write

force build
  package.json
Due: bunx prettier --write

link with mold
  .pkg/PKGBUILD
Due: none

Path conditions:
  bunx prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml}
  bunx eslint --fix: any of: *.{js,ts,svelte}
