Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

housekeeping
  .agents/AGENTS.md
  AGENTS.md
  CLAUDE.md
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: bunx prettier --write

housekeeping
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: bunx prettier --write

biome + lefthook + tauri build
  .github/workflows/release.yml
  .gitignore
  .pkg/PKGBUILD
  .pkg/feedmee.desktop
  .pkg/feedmee/FETCH_HEAD
  .pkg/feedmee/HEAD
  .pkg/feedmee/config
  .pkg/feedmee/description
  .pkg/feedmee/hooks/applypatch-msg.sample
  .pkg/feedmee/hooks/commit-msg.sample
  .pkg/feedmee/hooks/fsmonitor-watchman.sample
  .pkg/feedmee/hooks/post-update.sample
  .pkg/feedmee/hooks/pre-applypatch.sample
  .pkg/feedmee/hooks/pre-commit.sample
  .pkg/feedmee/hooks/pre-merge-commit.sample
  .pkg/feedmee/hooks/pre-push.sample
  .pkg/feedmee/hooks/pre-rebase.sample
  .pkg/feedmee/hooks/pre-receive.sample
  .pkg/feedmee/hooks/prepare-commit-msg.sample
  .pkg/feedmee/hooks/push-to-checkout.sample
  .pkg/feedmee/hooks/sendemail-validate.sample
  .pkg/feedmee/hooks/update.sample
  .pkg/feedmee/info/attributes
  .pkg/feedmee/info/exclude
  .pkg/feedmee/objects/info/commit-graphs/commit-graph-chain
  .pkg/feedmee/objects/info/commit-graphs/graph-e808d30ba83c8f68a0e0b30208ca2d2d0dd6b8ea.graph
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.idx
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.pack
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.rev
  .pkg/feedmee/packed-refs
  biome.json
  bun.lock
  lefthook.yml
  package.json
  scripts/package.js
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: bunx prettier --write, bunx eslint --fix

fix: arch package build
  .gitignore
  .pkg/PKGBUILD
  README.md
  src-tauri/.cargo/config.toml
Due: bunx prettier --write

fix: arch package build
  .pkg/feedmee/FETCH_HEAD
Due: none

system serif font
  src/app.css
Due: bunx prettier --write

tidy up
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

version script fixed
  .pkg/PKGBUILD
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

tidy
  biome.json
  bun.lock
  package.json
Due: bunx prettier --write

tidy more
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  eslint.config.js
Due: bunx prettier --write, bunx eslint --fix

biome config + format
  README.md
  biome.json
  bun.lock
  package.json
  src-tauri/tauri.conf.json
  src/app.html
  src/lib/articleActions.svelte.ts
  src/lib/components/AboutModal.svelte
  src/lib/components/ArticleListPane.svelte
  src/lib/components/NavPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/TitleBar.svelte
  src/lib/components/Tooltip.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavToolbar.svelte
  src/lib/components/nav/SpecialFeeds.svelte
  src/lib/feedActions.svelte.ts
  src/lib/feedRefresh.svelte.ts
  src/lib/keyboardNav.svelte.ts
  src/lib/store.svelte.ts
  src/lib/store.ts
  src/lib/utils/shortcuts.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: bunx prettier --write, bunx eslint --fix

words
  AGENTS.md
Due: bunx prettier --write

settings native font picker ++
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/NavPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

settings refined
  src/lib/components/SettingsModal.svelte
Due: bunx prettier --write, bunx eslint --fix

fixes + refinements
  AGENTS.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/app.css
  src/lib/components/AddDialog.svelte
  src/lib/components/TitleBar.svelte
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

bug hunt, performance++
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/articleActions.svelte.ts
  src/lib/components/AddDialog.svelte
  src/lib/components/ArticleListPane.svelte
  src/lib/feedRefresh.svelte.ts
  src/lib/keyboardNav.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

refined Add Dialog
  src/lib/components/AddDialog.svelte
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

cleanup
  AGENTS.md
  src-tauri/Cargo.toml
  src/lib/components/nav/SpecialFeeds.svelte
  src/lib/store.ts
Due: bunx prettier --write, bunx eslint --fix

bugs ++
  .github/workflows/release.yml
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/NavPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/dndState.svelte.ts
  src/lib/keyboardNav.svelte.ts
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

new folder improved
  src/lib/components/NavPane.svelte
  src/lib/components/NewFolderDialog.svelte
  src/lib/components/nav/NavToolbar.svelte
  src/lib/store.svelte.ts
  src/lib/storeTypes.ts
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

chore: bump version to 0.7.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

cleanup
  .pkg/feedmee/HEAD
  .pkg/feedmee/config
  .pkg/feedmee/description
  .pkg/feedmee/hooks/applypatch-msg.sample
  .pkg/feedmee/hooks/commit-msg.sample
  .pkg/feedmee/hooks/fsmonitor-watchman.sample
  .pkg/feedmee/hooks/post-update.sample
  .pkg/feedmee/hooks/pre-applypatch.sample
  .pkg/feedmee/hooks/pre-commit.sample
  .pkg/feedmee/hooks/pre-merge-commit.sample
  .pkg/feedmee/hooks/pre-push.sample
  .pkg/feedmee/hooks/pre-rebase.sample
  .pkg/feedmee/hooks/pre-receive.sample
  .pkg/feedmee/hooks/prepare-commit-msg.sample
  .pkg/feedmee/hooks/push-to-checkout.sample
  .pkg/feedmee/hooks/sendemail-validate.sample
  .pkg/feedmee/hooks/update.sample
  .pkg/feedmee/info/attributes
  .pkg/feedmee/info/exclude
  .pkg/feedmee/objects/info/commit-graphs/commit-graph-chain
  .pkg/feedmee/objects/info/commit-graphs/graph-e808d30ba83c8f68a0e0b30208ca2d2d0dd6b8ea.graph
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.idx
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.pack
  .pkg/feedmee/objects/pack/pack-267fb132e68bf771d6b2c65474be8eb12c8e4e4e.rev
  .pkg/feedmee/packed-refs
  package.json
Due: bunx prettier --write

use default fonts
  src/app.css
  static/Monaspace Xenon Var.ttf
  static/OpenSans-Variable.ttf
  static/tauri.svg
  static/vite.svg
Due: bunx prettier --write

version 0.8.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

confirmation on add url
  bun.lock
  package.json
  src/lib/components/AddDialog.svelte
  src/lib/feedActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

drop chrono, use std time
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
Due: none

do not add bad url
  src-tauri/src/commands.rs
Due: none

clean redundant packages
  bun.lock
  package.json
Due: bunx prettier --write

custom drag drop
  bun.lock
  package.json
  src/lib/components/NavPane.svelte
  src/lib/components/nav/FolderGroup.svelte
Due: bunx prettier --write, bunx eslint --fix

tidy
  .scripts/buildit.ps1
Due: none

v0.9.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

v0.10.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write

orphan clean
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/models.rs
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
  src/lib/utils/shortcuts.ts
Due: bunx prettier --write, bunx eslint --fix

dev build display fix
  package.json
  src/routes/+page.svelte
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

clear import on success
  src/lib/feedActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

possible race
  src/lib/feedRefresh.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

read toggle correction
  src/lib/articleActions.svelte.ts
Due: bunx prettier --write, bunx eslint --fix

close context on ESC, scroll, etc
  src/lib/components/NavPane.svelte
Due: bunx prettier --write, bunx eslint --fix

hook up article context
  src/lib/components/ArticleListPane.svelte
Due: bunx prettier --write, bunx eslint --fix

do not always create folder
  src-tauri/src/commands.rs
Due: none

Path conditions:
  bunx prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml}
  bunx eslint --fix: any of: *.{js,ts,svelte}
