Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

tooling tweaks
  .husky/pre-commit
  .vscode/settings.json
  package.json
Due: prettier --write

velopack + bun fixes
  .lintstagedrc.json
  .scripts/buildit.ps1
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: prettier --write

velopack fixes
  scripts/package.js
  src-tauri/tauri.conf.json
Due: prettier --write, eslint --fix

build + lint fixes
  .lintstagedrc.json
  bun.lock
  eslint.config.js
  package.json
  src/lib/components/SettingsModal.svelte
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

build fix + tweak
  package.json
  src-tauri/tauri.conf.json
  src/lib/components/nav/FolderGroup.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

article title linked and styled
  src/app.css
  src/lib/components/ReadingPane.svelte
Due: prettier --write, eslint --fix

add content - category + prefill url
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

rename feeds
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/NavPane.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

smarter feed update
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

harden feed fetch
  src-tauri/src/commands.rs
Due: none

ui tweaks, not perfect
  src/app.css
  src/lib/components/SettingsModal.svelte
  src/lib/components/TitleBar.svelte
Due: prettier --write, eslint --fix

version bump, updates
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

tidy app settings files
  src-tauri/src/lib.rs
Due: none

refresh feeds when clicking on count
  src/lib/components/nav/FolderGroup.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

open category on click
  src/lib/components/nav/FolderGroup.svelte
Due: prettier --write, eslint --fix

debounce update refined
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavToolbar.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

auto update wired up
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

logo added to reading pane
  src/lib/components/ReadingPane.svelte
Due: prettier --write, eslint --fix

About modal
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/lib/components/AboutModal.svelte
  src/lib/components/TitleBar.svelte
Due: prettier --write, eslint --fix

deactivate browser context
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

search function wired up
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

ui refined
  src/lib/components/TitleBar.svelte
Due: prettier --write, eslint --fix

lucide icons
  bun.lock
  package.json
  src/lib/components/ArticleListPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/TitleBar.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavToolbar.svelte
  src/lib/components/nav/SpecialFeeds.svelte
Due: prettier --write, eslint --fix

tidy
  src/lib/components/TitleBar.svelte
Due: prettier --write, eslint --fix

fix open settings folder
  src-tauri/capabilities/default.json
  src/lib/components/AboutModal.svelte
Due: prettier --write, eslint --fix

shortcuts
  README.md
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/components/NavPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/TitleBar.svelte
  src/lib/store.svelte.ts
  src/lib/utils/shortcuts.ts
Due: prettier --write, eslint --fix

setting for startup displayed content
  src-tauri/src/settings.rs
  src/lib/components/SettingsModal.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

default view save fixed
  src/lib/components/SettingsModal.svelte
Due: prettier --write, eslint --fix

ui refined
  src/lib/components/SettingsModal.svelte
Due: prettier --write, eslint --fix

respect refresh debounce across restart
  src/lib/store.svelte.ts
Due: prettier --write, eslint --fix

upgrade to readabilityrs, fix scrape issues
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
Due: prettier --write

poll / scrape sites without rss/atom
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/models.rs
  src/lib/components/nav/FolderGroup.svelte
  src/lib/store.svelte.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

scrape sites fixed
  src-tauri/src/commands.rs
Due: none

PRAGMA user_version for correct migration
  src-tauri/src/db.rs
Due: none

format + ui tweaks
  src-tauri/src/db.rs
  src/lib/components/ArticleListPane.svelte
  src/lib/components/ReadingPane.svelte
Due: prettier --write, eslint --fix

lint fixes
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: none

strip scraped title
  src/lib/components/ReadingPane.svelte
Due: prettier --write, eslint --fix

v0.3.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,css,json,md,yaml,yml,toml}
  eslint --fix: any of: *.{js,ts,svelte}
