Repository dcog989/FeedMee: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,svelte,css,json,md,yaml,yml}": "bunx prettier --write",
  "*.{js,ts,svelte}": "bunx eslint --fix"
}

feat(article): use download icon for load full content action
  src/lib/components/article/ArticleActions.svelte
Due: bunx prettier --write, bunx eslint --fix

chore(deps): migrate lucide-svelte to @lucide/svelte
  bun.lock
  package.json
  src/lib/components/NavPane.svelte
  src/lib/components/ReadingPane.svelte
  src/lib/components/SettingsModal.svelte
  src/lib/components/ShortcutsModal.svelte
  src/lib/components/TagManager.svelte
  src/lib/components/article/ArticleActions.svelte
  src/lib/components/article/ArticleCard.svelte
  src/lib/components/article/ArticleContent.svelte
  src/lib/components/article/ArticleSearch.svelte
  src/lib/components/article/ArticleToolbar.svelte
  src/lib/components/nav/FeedItem.svelte
  src/lib/components/nav/FolderGroup.svelte
  src/lib/components/nav/NavToolbar.svelte
  vite.config.js
Due: bunx prettier --write, bunx eslint --fix

chore(test): remove unused @testing-library/svelte and bench config
  bun.lock
  package.json
  src/test/setup.ts
  vitest.config.ts
Due: bunx prettier --write, bunx eslint --fix

chore(test): drop unused component-test setup file
  src/test/setup.ts
  vitest.config.ts
Due: bunx prettier --write, bunx eslint --fix

fix(article): use ui-serif and normal weight for list titles
  src/app.css
  src/lib/components/article/ArticleCard.svelte
Due: bunx prettier --write, bunx eslint --fix

chore(deps): upgrade feed-rs 2.4 to 3.0
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/connectors/rss.rs
Due: none

refactor(scraper): replace readabilityrs with dom_smoothie
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/content.rs
Due: none

refactor(linux): drop no-op gtk titlebar call in setup_window
  src-tauri/src/startup.rs
Due: none

refactor: remove custom-titlebar layout relics
  src-tauri/src/commands/app.rs
  src-tauri/src/lib.rs
  src/routes/+layout.svelte
Due: bunx prettier --write, bunx eslint --fix

style(article): use eye icon for load full content action
  src/lib/components/article/ArticleActions.svelte
Due: bunx prettier --write, bunx eslint --fix

chore(version): v0.23.0
  CHANGELOG.md
  PKGBUILD
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: bunx prettier --write
